.index-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-end;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url('https://img.freepik.com/free-vector/neon-grid-background_53876-91657.jpg?w=826&t=st=1697342676~exp=1697343276~hmac=46c0b78dbc04dca6c42536f46bdab4315b0a92fbe7cd861f172346736c8477c2');
}
.index-text {
  color: rgb(255, 255, 255);
  z-index: 100;
  font-size: 36px;
  align-self: flex-start;
  margin-top: 10px;
  text-align: left;
  font-family: "Daydream";
  margin-left: 10px;
  margin-right: 10px;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: 10px;
  text-transform: uppercase;
}
.index-sidebar {
  width: 320px;
  height: 686px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-self: flex-start;
  margin-top: 10px;
  align-items: flex-start;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #D9D9D9;
}
.index-navlink {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.index-nav-item {
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.index-options {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
}
